@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root{
    --color-1: #2f3240;
    
}

html { scroll-behavior:smooth;
    overflow-x:hidden; }


body {
    background: #072741;
    min-height: 1500px;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
     
}

header.sticky{
    background:#072741;
    padding:40px 100px;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    margin-bottom: 5px;
    
}


header.sticky ul li a{
    transition:0.05s;
    color: #f3a93d;

}



header ul {
    margin-left: 510px;
    position: relative;
    display: flex;

}

header ul li {
    
    position: relative;
    list-style: none;


}

header ul li a {
    
    position: relative;
    display: block;
    margin: 0 15px;
    color: ivory;
    text-decoration: none;
}

header .nav ul li{
    
    display: inline-block;
    margin-left: 40px;
}
header .nav ul li a{
    display:block;
    
}

header .nav ul li a:hover{
    transition:  0.3s ease;
    color: #f3a93d;
    
}

header .nav ul li a:active{
    transition: 0.000005s ease;
    color:#a8711e;
    transform:scale(0.9);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #072741, transparent);
    z-index: 20;
    
}

section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #072741;
    mix-blend-mode:exclusion;
    

}


section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

}


#text {
    padding-top: -50%;
    margin-left: -85%;
    position: relative;
    color: rgb(237, 239, 248);
    font-size: 5.5em;
    background-color: rgba(0, 0, 0, 0.3, transparent);
    justify-content: space-between;


}
#text2{
    margin-top: -7%;
    margin-left: -70%;
    position: relative;
    color: rgb(141, 167, 233);
    font-size: 3.5em;
    justify-content:space-between;

}

#arkaplan {
    background-image: url(../assets/network-g029fcb6a5_1920.jpg);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    
}




.container{
    margin-top:10%;
    margin-left:10%;
    position: relative;
    min-height:100px;
      
    
}



.toggle:focus{
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2)
}

.menu{
    display: none;
}






.icerik{
    scroll-margin-top: 100px;
    color: ivory;
    margin: 30px;
    padding-right: 100px;
    
    
}
#icerikkutusu1{
    scroll-margin-top: 100px;
}

#icerikkutusu2{
    scroll-margin-top: 100px;
    scroll-margin-left:600px;
}

.sertifika1{
    top:0;
    border-radius: 3%;
    box-shadow: 3px 3px var(--color-1);
    background: url("https://globalaihub.com/wp-content/uploads/certificates/Arif-Emre-Abdusoglu-Makine-Ogrenmesi8217ne-Giris-Introduction-to-Machine-Learning-Global-AI-Hub.jpeg");
    position:relative;
    background-size: cover;
    background-position: center;   
    z-index:10000;
    min-height:8.75rem;
    max-width:12.875rem;
    opacity:0;
    display:-100%;
    transform:translateY(2rem),rotateZ(-2deg);
    transition: transform 1.3s 0.15s cubic-bezier(0,1,0.5,4),
                opacity .5s .10s ease-out;
    will-change: transform, opacity;
    
    
}
.sertifika1.active{
    display:0;
    margin-top: 7px;
    margin-bottom:7px;
    top:0;
    border-radius: 3%;
    box-shadow: 3px 3px var(--color-1);
    background: url("https://globalaihub.com/wp-content/uploads/certificates/Arif-Emre-Abdusoglu-Makine-Ogrenmesi8217ne-Giris-Introduction-to-Machine-Learning-Global-AI-Hub.jpeg");
    position:relative;
    background-size: cover;
    background-position: center;   
    z-index:1;
    min-height:8.75rem;
    max-width:12.875rem;
    opacity:1;
    transform:rotateZ(1deg);
}

.sertifika1.active:hover{
    transition: 1s;
    transform:scale(0.95);
    cursor:pointer;
    opacity:0.9;
}

.sertifika2{
    top:-8.9rem;
    left:18rem;
    border-radius: 3%;
    box-shadow: 3px 3px var(--color-1);
    background: url(../assets/SL_012519_18110_94.png);
    position:relative;
    background-size: cover;
    background-position: center;   
    z-index:10000;
    min-height:8.75rem;
    max-width:12.875rem;
    opacity:0;
    display:-100%;
    transform:translateY(2rem),rotateZ(-2deg);
    transition: transform 1.3s 0.15s cubic-bezier(0,1,0.5,4),
                opacity .5s .10s ease-out;
    will-change: transform, opacity;
    justify-content: space-between;
    
    
}
.sertifika2.active{
    
    display:0;
    left: 18rem;
    margin-top: 7px;
    margin-bottom:7px;
    top: -8.9rem;
    border-radius: 3%;
    box-shadow: 3px 3px var(--color-1);
    background: url(../assets/SL_012519_18110_94.png);
    position:relative;
    background-size: cover;
    background-position: center;   
    z-index:1;
    min-height:8.75rem;
    max-width:12.875rem;
    opacity:1;
    transform:rotateZ(1deg);
    justify-content: space-between;
}

.sertifika2.active:hover{
    transition: 1s;
    transform:scale(0.95);
    cursor:pointer;
    opacity:0.9;
}

.yeteneklerim{
    top:-5rem;
    position:relative;
    
}

.ortak{
    top:-1.5rem;
    left:17%;
    position:relative;
    width:60%;
    background-color: rgb(230, 220, 203);
    border-radius:20%;
}

.problemcozme{
    width:80%;
    color:#2f3240;
    font-weight: 600;
    text-align:right;
    background-color: rgb(199, 139, 61);
    position:relative;
    top:0;
    left:0;
    border-top-left-radius:20%;
    border-bottom-left-radius:20%;
}
.zamanyonetimi{
    color:#2f3240;
    font-weight: 600;
    width:50%;
    text-align:right;
    background-color: rgb(199, 139, 61);
    position:relative;
    top:0;
    left:0;
    border-top-left-radius:20%;
    border-bottom-left-radius:20%;
}
.takimcalismasi{
    color:#2f3240;
    font-weight: 600;
    width:60%;
    text-align:right;
    background-color: rgb(199, 139, 61);
    position:relative;
    top:0;
    left:0;
    border-top-left-radius:20%;
    border-bottom-left-radius:20%;
}
.sorumluluk{
    color:#2f3240;
    font-weight: 600;
    width:70%;
    text-align:right;
    background-color:rgb(199, 139, 61);
    position:relative;
    top:0;
    left:0;
    border-top-left-radius:20%;
    border-bottom-left-radius:20%;
}

.hobiler{
    list-style-type:circle;
}
.hobilerim{
    min-width: max-content;
    justify-content: space-between;
}
.dillerim{
    position:relative;
    left:30%;
    top:-6.5rem;
    min-width:max-content;
    justify-content: space-between;
}
.diller{
    list-style-type:circle;
}
.icerikkutusu2{
    margin-top: 4rem;
    margin-bottom:1rem;
    position:relative;
    left:40%;
}
.header1{
    margin-bottom:5rem;
}


.icinde{
    position:relative;
    top:-34rem;
    left:-0.8%;
    padding-right:2rem;
    padding-left:2rem;
    margin:5px;
    background-color: antiquewhite;
    text-align:center;
    border-radius:45%;
    font-weight: 400;
    border:none;
    cursor:pointer;
    transition:0.6s ease-out;

}
.icinde:hover{
    font-weight: 600;
    font-size: 1rem;
    color:ivory;
    transition:0.6s ease-out;
    background-color:#f3a93d;
}
.icinde:active{
    background-color: #cf963f;
    transition:0.1s ;
    transform:scale(0.9);
}

.siteicinde{
    position:relative;
    top:1rem;
    opacity:0;
}
.siteicinde.active{
    opacity:1;
    display:100%;
    left:-22rem;
    transform:translateY(-3rem);
}

.footer{
    position:relative;
    bottom:0;
    left:0;
    padding:3rem;   
    width:100%;
    height:100%;
    background-image:repeating-linear-gradient(to top,#62788b,#072741);
}

.footerfoto{
    cursor:pointer;
    position:relative;
    bottom:-2rem;
    margin:5px;
    left:10rem;
    padding:3px;
    transition:0.2s ease-out;
}
.footerfoto:hover{
    transform:scale(1.1);
    box-shadow: 1px 1px var(--color-1);
    border-radius:30%;

}
.footerfoto:active{
    transform:scale(0.9);
}

.footerkonum{
    position:relative;
    left:37rem;
    bottom:-2rem;
}

.footeryukar覺{
    cursor:pointer;
    position:relative;
    left:-12rem;
    bottom:1rem;
    transition:0.2s ease-out;
    border-radius:50%;
}

.footeryukar覺:hover{
    transform:scale(1.2);
    box-shadow: 1px 2px var(--color-1);
    

}

.footeryukar覺:active{
    transform:scale(0.95);
}

.header2{
    position:relative;
    left:55rem;
}





@media(max-width:1030px)
{

    #arkaplan {
        background-image: url(../assets/network-g029fcb6a5_1920.jpg);
        filter: blur(3px);
        -webkit-filter: blur(3px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width:120%;
        
    }

    #text {
        margin-top: -20%;
        margin-left: -10%;
        position:relative;
        color: rgb(237, 239, 248);
        font-size: 3.8rem;
        background-color: rgba(0, 0, 0, 0.3, transparent);
        justify-content: space-between;
        display:table;
        width:100%;
        min-width:max-content;
    
    
    }
    #text2{
        margin-top: -1%;
        margin-left: 0;
        position:relative;
        color: rgb(141, 167, 233);
        font-size: 2.5rem;
        justify-content:space-between;
        display:flex;
        width:100%;
        min-width:max-content;
        
    }


    header .nav ul li a{
        display:none;
    }


    .text{
        font-size:smaller;
        width:60%;
    }

    .toggle{
        right:0%;
        top:0%;
        margin:25px;
        position:fixed;
        width:40px;
        height:40px;
        background:url(../assets/icons8-menu-30.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size:30px;
        cursor:pointer;
        
    }

    .toggle.active{
        background:url(../assets/icons8-close-50.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size:25px;
        cursor:pointer;
        transition:0.0005s;
    }

    
    .menu{
        position:fixed;
        top:0;
        left:0;
        display:-100%;
        padding:100px 50px;
        text-align:center;
        width:100%;
        height:100%;
        background:#072741;
        transition:0.5s;
        z-index:10;
        list-style-type:none;

    }

    .menu.active{
        display:block;
        padding-top:150px;
        
        
    } 

    header{
        transition:none;
    }

    .menu li a{
        color:ivory;
        font-size:1.5em;
        font-weight: 400;
        display:block;
        cursor:pointer;
        margin:30px;
        text-decoration: none;

    }

    .menu li a:hover{
        color:#f3a93d;
        transition:0.1s ;
    }    
    .menu li a:active{
        color:#a8711e;
        transform:scale(0.9);
    }
    header.ustyok{
        background-color:none;
    }
    .container{
        margin-top: 10%;
        margin-left:3%;
        width:100%;
    }
    .icerik{
        color: ivory;
        margin: 10px;
        padding-right: 50px;
    }
    .sertifika2.active{
        height:60%;
        width:60%;
        top:-9rem;
        max-height:80%;
        min-height:8.75rem;
        max-width:12.875rem;
        min-width:max-content;
        left:60%;
    }
    .sertifika2{
        top:-9rem;
        height:60%;
        width:60%;
        min-height:8.75rem;
        max-height:80%;
        max-width:12.875rem;
        min-width:max-content;
        left:60%;
    }

    .sertifika1{
        height:60%;
        width:60%;
        min-height:8.75rem;
        max-height:80%;
        max-width:12.875rem;
        min-width:max-content;
        left:-1rem;
    }
    .sertifika1.active{
        height:60%;
        width:60%;
        min-height:8.75rem;
        max-height:80%;
        max-width:12.875rem;
        min-width:max-content;
        left:-1rem;

    }
    .ortak{
        top:-1.4rem;
        left:45%;
        position:relative;
        height:1rem;
        width:60%;
        background-color: rgb(230, 220, 203);
        border-radius:20%;
    }
    .problemcozme{
        position: relative;
        min-width: 30%;
        height:1rem;
    }

    .zamanyonetimi{
        position: relative;
        min-width: 30%;
        height:1rem;
    }

    .takimcalismasi{
        position: relative;
        min-width: 30%;
        height:1rem;
    }

    .sorumluluk{
        position: relative;
        min-width: 30%;
        height:1rem;

    }

    .yetenekbaslik{
        font-size:0.8rem;
        position:relative;
        min-width: 10%;
        left:-4%;
    }
    

    .hobiler{
       font-size: smaller;
    }
    .dillerim{
        margin-left:28%;
        top:-6rem;
        position:relative;
    }
    .diller{
        font-size: smaller;

    }
    .footerfoto{
        position:relative;
        left:6rem;
    }
    .footeryukar覺{
        position:relative;
        left:-15rem;
        min-width:max-content;
        display:inline-flex;
    }
    .footerkonum{
        position:relative;
        left:25%;
    }
    .header2{
        font-size: 0.7rem;
        position:relative;
        top:2rem;
        left:40%;
        
    }
    
}

@media(max-width:555px){
    .siteicinde.active{
        position:relative;
        left:-5rem;
        top:-1rem;
        height:300px; 
        width:300px;
        min-height:230px;
        min-width:230px;
    }
    .icinde{
        position:relative;
        top:-4rem;
        left:-0.5rem;
    }

    .icinde.active{
        position:relative;
        top:-5rem;

    }
    section{
        left:0;
    }
    .footer{
        width:100%;
    }
    .footerkonum{
        position:relative;
        left:25%;
        bottom:-2rem;
    }
    .header2{
        font-size:0.5rem;
        position:relative;
        left:40%;
        
    }
}






